<%- include('header')%>
            <!-- PAGE CONTAINER-->
            <div class="content-page">
                <div class="content content-main">
                    <div class="loadings hidden"></div>
                    <!-- BEGIN PlACE PAGE CONTENT HERE -->
                    <!--title-->
<div class="row ">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4 class="page-title">Assignment</h4>
      </div> <!-- end card body-->
    </div> <!-- end card -->
  </div><!-- end col-->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body teacher_content">
                <div class="items">
                <table id="basic-datatable" class="table table-striped dt-responsive nowrap" width="100%">
                    <thead>
                        <tr style="background-color: #313a46; color: #ababab;">
                            <th>Subject</th>
                            <th>Teacher Name</th>
                            <th>Assignment</th>
                            <th>File</th>
                            <th>Date</th>
                            <th>Duedate</th>
                            <th>Upload</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if (assignment) { 
                        for(var i=0; i < assignment.length; i++){ %>   
                    <form action="/student/upload/<%= assignment[i].assignment_id %>", method="post", enctype="multipart/form-data">
                        <tr>
                            <td width="20%"><%= assignment[i].subjectname %></td>
                            <td width="20%"><%= assignment[i].teachername %></td>
                            <td width="20%"><%= assignment[i].filename %></td>
                            <td><a class="btn btn btn-secondary" href="/assets/file/<%= assignment[i].directory %>" download><i class="fa fa-download" style="width:50%"></i> Download</a></td>
                            <td width="15%"><%= assignment[i].date %></td>
                            <td width="15%"><%= assignment[i].duedate %></td>
                            <td width="10%"><input class="btn btn btn-secondary" type="file" name="file"/><br><br><input class="btn btn btn-secondary" type="submit" value="Upload"/></td>
                        </tr>
                    </form>
                    <% } %>
                    <% }%>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <h3>Uploaded Assignments</h3>
            <div class="card-body teacher_content">
                <div class="items">
                <table id="basic-datatable" class="table table-striped dt-responsive nowrap" width="100%">
                    <thead>
                        <tr style="background-color: #313a46; color: #ababab;">
                            <th>Subject</th>
                            <th>Teacher Name</th>
                            <th>Assignment</th>
                            <th>Uploaded by teacher</th>
                            <th>Upload Date</th>
                            <th>Duedate</th>
                            <th>Uploaded by me</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if (upload) { 
                        for(var i=0; i < upload.length; i++){ %>   
                        <tr>
                            <td width="20%"><%= upload[i].subjectname %></td>
                            <td width="20%"><%= upload[i].teachername %></td>
                            <td width="20%"><%= upload[i].filename %></td>
                            <td><a class="btn btn btn-secondary" href="/assets/file/<%= upload[i].directory %>" download><i class="fa fa-download" style="width:50%"></i> Download</a></td> 
                            <td width="15%"><%= upload[i].uploaddate %></td>
                            <td width="15%"><%= upload[i].duedate %></td>
                            <td><a class="btn btn btn-secondary" href="/assets/file/<%= upload[i].uploadfilename %>" download><i class="fa fa-download" style="width:50%"></i> Download</a></td>
                        </tr>
                    <% } %>
                    <% }%>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>
</div>
</div>
    
<%- include('footer')%>